# This a CODEOWNERS file, where you can establish code owners.
# Code owners are automatically requested for review when someone opens a pull request
# that modifies code that they own. In this instance, cicdguy will be notified of any
# changes made the files inside the .github/workflows directory.
.github/workflows/* @cicdguy
